<!DOCTYPE html>
<html ng-app="despedidApp">
<head>
<meta charset="ISO-8859-1">
<title>AngularJS</title>
<script src="lib/angular.min.js"></script>
<script src="controller.js"></script>
<link href="resources/css/style.css" rel="stylesheet" />


</head>
<body class="body"  ng-controller="despedidaController"> 
<h1>Despedida</h1><br><br>
<table  align="center">
	<tr >
	    <td class="tdImageLeft">
	    	<b>Sergio Asensio</b>
	    	<br><br>
  			<img class="image" src="resources/images/asensio.jpg" > 
  			<br>
  			<div class="correo">
	  			gggggggggggggggggggggggggggggggggggggggggggggggggggggege<br>
	  			wddwqdqwdqwdqwdqwdqwdssssssssssssssssssssssssssssssssssssssssssssssssss 
  			</div>
	    </td>  
	    <td class="tdImageRight">
	    	<b>Alejandro Esteban </b>
	    	<br><br>
  			<img class="image" src="resources/images/esteban.jpg" ><br>  			
  			<div class="correo">
	  			gggggggggggggggggggggggggggggggggggggggggggggggggggggege<br>
	  			wddwqdqwdqwdqwdqwdqwdssssssssssssssssssssssssssssssssssssssssssssssssss   
  			</div>
  		</td> 
    </tr>
    <tr>
    </tr> 
</table> 
<br><br> 
<div>
	¡¡¡ PINCHA AQUI !!!
	<img class="imageCofre" src="resources/images/cofreCerrado.jpg" ng-click="showTableData()" ng-hide="cofreAbierto"><br>  
	<img class="imageCofre" src="resources/images/cofreAbierto.jpg" ng-show="cofreAbierto"><br>   			   		 			   	
</div>
<form ng-submit="checkData()">
	<table align="center" class="tableData" ng-show="showTable" ng-hide="!showTable">
		<tr>
			<td align="right"><label > Usuario :</label></td>		
			<td><input type="text" ng-model="user"></td>	
		</tr>
		<tr>
			<td align="right"><label > Contraseña :</label></td>		 
			<td><input type="password" ng-model="pass"></td>	
		</tr>		
		<tr >  
			<td colspan="2" class="buttonClass"><input type="submit" value="¿Comida?"></td>
		</tr>
		<tr > 
			<td colspan="2" align="right">
				<label class="errorMessage" ng-show="errorMessage!=''" ng-hide="errorMessage==''">{{errorMessage}}</label> 
			</td>
		</tr>
	</table>
</form>

</html>